#Element{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 100px;
    height: 100px;
}
table{

    background-color: aqua;
}
button:hover {
    background-color: chartreuse;
}