<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../JavaScript.js"></script>
    <script src="../jquery-3.4.1.min.js"></script>
</head>
<body>

<h2> please insert your username and password to login </h2>
<p>username : </p> <input id="username" type="text">

<p>password : </p> <input id="password" type="text">
<br><br>

<button type="submit" id="submit" onclick="authentication()"  > Login </button>
<a href="../../resources/register.html">register</a>



</body>
</html>